
.Container{
  padding: 20px 64px 0;
  height: 100%;
  box-sizing: border-box;
}

header{
  color: #fff;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 600;
}

header .Caption{
  font-size: 24px;
  float: right;
  margin-top: 20px;
  font-weight: 400;
}

.Main{
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 75px - 60px);
}